.body{
    width:1440px;
}
.head1{
}
.header{
    font-family: "oswald";
}
.logophoto{
    margin-top: 53px;
    margin-left: 110px;
}
.menulink{
    text-decoration: none;
    margin-top: 50px;
    text-align: right;
    display:flex;
    white-space: nowrap;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Oswald;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
}
.header-content{
    margin-top: 14.0625rem;
    margin-left: 12.5rem;
}
.glav{
    text-decoration: underline;
    text-underline-offset: 10px
}
.menulink:visited{
    color: #68B738
}
.headerul{
    list-style-type: none;
    display:flex;
    gap: 40px;
    margin-left: 900px;
    font-size: 20px;
    position: absolute;
}
.headerli{
    color: #68B738
}
.fonphoto{

}
.header-content{
    background-image: url(/git1/img/index-can.png);
    background-repeat:no-repeat;
    background-position: 70% 0px;
    width:83.125rem;
    height:43.5rem;
}
.header-title{
    color: rgb(0, 0, 0);
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
}
.header-text{
    color: rgb(0, 0, 0);
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 40px;
}
.header-button{
    background-color: rgb(104, 183, 56);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 52px
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 400px
}
.text1{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
.divptext1{
    font-family: "oswald";
    font-size: 36px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 36px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.divptext2{
    font-family: "oswald";
    font-size: 36px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 36px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.circle1{
    width: 100px;
    height: 100px;
    background: #68B738;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    z-index: 0;
}
.circle2{
    width: 100px;
    height: 100px;
    background: #68B738;
    border-radius: 50%;
    top: -20px;
    left: -20px;
    z-index: 0;
}
.logophotop1{
    width: 100px;
}
.logophotop2{
    height: 100px;
    width: 134px;
    justify-content:
}
.div-parent1{
    display:flex;
    gap: 50px;
}
.div-parent2{
    display:flex;
    gap: 50px;
}
.textt1{
    color: rgb(0, 0, 0);
font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
width: 467px;
height: 72px;
left: 162px;
top: 962px;
margin-top: 39px;
}
.textt2{
    width: 457px;
height: 72px;
left: 812px;
top: 962px;
color: rgb(0, 0, 0);
font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 39px;
}
.arrowsvg{
    position: absolute;
    width: 450px;
    margin-bottom: 50px;
    
}
.kakrabotaet{
    height: auto
}
.kakrab1{
    color: rgb(0, 0, 0);
font-family: Oswald;
font-size: 60px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0%;
margin-left: 110px;
}
background-image: url(/git1/img/index-background-desktop.png);
background-repeat:no-repeat;
background-position: right 100%;